<footer class="c-footer" data-type="primary">
    <div class="l-container">
        <div class="c-footer__inner">

            <!-- Footer Attribution -->
            <p>
                made with
                <span class="u-sr-only">love</span>
                <i class="bi bi-suit-heart u-text-acc-400" aria-hidden="true"></i>
                by
                <span class="u-text-acc-400 u-text-capitalize u-fw-bold">ahmed el bald</span>
            </p>

            <!-- Footer Social Links -->
            <ul class="c-footer__social-links">
                <li>
                    <a href="https://ahmed-elbald.github.io/Personal-Portfolio/" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-briefcase-fill"></i>
                        <span class="u-sr-only"> My portfolio </span>
                    </a>
                </li>

                <li>
                    <a href="https://web.facebook.com/abkareenooo/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i>
                        <span class="u-sr-only"> Facebook account </span>
                    </a>
                </li>

                <li>
                    <a href="https://github.com/Ahmed-Elbald" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github" aria-hidden="true"></i>
                        <span class="u-sr-only"> GitHub account </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</footer>