@use "../abstracts" as *;

.l-section {
  --padding-block: ;

  padding-block: #{map-get($map: $section, $key: paddingBlock)};

  &:is([data-name="hero"], [data-height="fill"]) {
    min-height: 100vh;
    min-height: 100svh;
    @include flexCentering();
  }
}
