@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
/* Custom Properties */
:root {
  /* BreakPoints */
  --bp-mobile: 576px;
  --bp-tablet: 992px;
  --bp-desktop: 1400px;
  /* Border Radius */
  --radius-regular: var(--spacer-100);
  /* Colors */
  --clr-pr-700: 180 96% 39%;
  --clr-acc-400: 350 80% 55%;
  --clr-neu-100: 0 0% 100%;
  --clr-neu-300: 0 0% 95%;
  --clr-neu-500: 0 0% 30%;
  --clr-neu-700: 0 0% 0%;
  --overlayBgClr: hsl(var(--clr-neu-500)/0.125);
  --shadowClr: hsl(var(--clr-neu-700)/0.15);
  /* Box Shadow */
  --shadow-regular: 0 0 10px 2px var(--shadowClr);
  --shadow-deviated: 2px 2px 10px 2px var(--shadowClr);
  /* Spacers */
  --spacer-100: 0.25rem;
  --spacer-200: 0.5rem;
  --spacer-300: 0.75rem;
  --spacer-400: 1rem;
  --spacer-500: 1.125rem;
  --spacer-600: 1.25rem;
  --spacer-700: 1.5rem;
  --spacer-800: 2rem;
  --spacer-900: 3rem;
  --spacer-1000: 4rem;
  --spacer-1100: 5rem;
  --spacer-1200: 6rem;
  --spacer-1300: 8rem;
  /* Font Families */
  --ff-pr: "Cairo", sans-serif;
  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 1000;
  /* Font Sizes */
  --fs-factor: 1;
  --fs-200: calc(
    clamp(
        0.5rem,
        calc(0.25rem + 0.39vw),
        0.75rem
      ) *
      var(--fs-factor)
  );
  --fs-300: calc(
    clamp(
        0.75rem,
        calc(0.5rem + 0.435vw),
        1rem
      ) *
      var(--fs-factor)
  );
  --fs-400: calc(
    clamp(
        1rem,
        calc(0.75rem + 0.48vw),
        1.125rem
      ) *
      var(--fs-factor)
  );
  --fs-500: calc(
    clamp(
        1.125rem,
        calc(1rem + 0.525vw),
        1.25rem
      ) *
      var(--fs-factor)
  );
  --fs-600: calc(
    clamp(
        1.25rem,
        calc(1.125rem + 0.57vw),
        1.5rem
      ) *
      var(--fs-factor)
  );
  --fs-700: calc(
    clamp(
        1.5rem,
        calc(1.25rem + 0.615vw),
        2rem
      ) *
      var(--fs-factor)
  );
  --fs-800: calc(
    clamp(
        2rem,
        calc(1.5rem + 0.66vw),
        3rem
      ) *
      var(--fs-factor)
  );
  --fs-900: calc(
    clamp(
        3rem,
        calc(2rem + 0.705vw),
        4rem
      ) *
      var(--fs-factor)
  );
  --fs-1000: calc(
    clamp(
        4rem,
        calc(3rem + 0.75vw),
        5rem
      ) *
      var(--fs-factor)
  );
  --fs-1100: calc(
    clamp(
        5rem,
        calc(4rem + 0.795vw),
        6rem
      ) *
      var(--fs-factor)
  );
  --fs-1200: calc(
    clamp(
        6rem,
        calc(5rem + 0.84vw),
        8rem
      ) *
      var(--fs-factor)
  );
}
:root[data-dark-theme=true] {
  --clr-neu-100: 0 0% 0%;
  --clr-neu-300: 0 0% 20%;
  --clr-neu-500: 0 0% 90%;
  --clr-neu-700: 0 0% 100%;
  --shadowClr: hsl(var(--clr-neu-700)/0.375);
}

/* Global */
@font-face {
  font-family: "Cairo";
  src: url(".././fonts/cairoVariableFont.woff2") format("woff2");
  font-weight: 200 1000;
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: hsl(var(--clr-pr-700));
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::first-letter {
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-duration: 125ms;
}
@media (prefers-reduced-motion: true) {
  *,
  *::before,
  *::after {
    transition-duration: 0ms;
  }
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: hsl(var(--clr-neu-300));
  color: hsl(var(--clr-neu-500));
  font-family: var(--ff-pr);
  font-size: var(--fs-400);
  letter-spacing: 0.5px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
@supports (box-shadow: 0 0 5px black) {
  body {
    background-color: hsl(var(--clr-neu-100));
  }
}
body[data-content=loaded] {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

input,
button,
textarea,
a {
  outline-width: 2px;
  outline-color: transparent;
}
input:focus,
button:focus,
textarea:focus,
a:focus {
  outline-color: currentColor;
  text-decoration: none;
}

input,
button,
textarea {
  display: block;
  border: none;
  outline-offset: -2px;
}

input,
textarea {
  outline-style: solid;
}

a,
button {
  outline-style: dashed;
}

textarea {
  resize: none;
}

button {
  background-color: transparent;
  color: inherit;
  text-align: unset;
  cursor: pointer;
}
button > * {
  pointer-events: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: inherit;
  color: inherit;
  outline-offset: 1px;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Utility Calsses */
.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-text-center {
  text-align: center;
}
@media (min-width: 992px) {
  .u-text-center[data-sm-only] {
    text-align: unset;
  }
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-radius-regular {
  border-radius: var(--spacer-100);
}

.u-text-pr-700 {
  color: hsl(var(--clr-pr-700));
}

.u-bg-pr-700 {
  background-color: hsl(var(--clr-pr-700));
}

.u-text-acc-400 {
  color: hsl(var(--clr-acc-400));
}

.u-bg-acc-400 {
  background-color: hsl(var(--clr-acc-400));
}

.u-text-neu-100 {
  color: hsl(var(--clr-neu-100));
}

.u-bg-neu-100 {
  background-color: hsl(var(--clr-neu-100));
}

.u-text-neu-300 {
  color: hsl(var(--clr-neu-300));
}

.u-bg-neu-300 {
  background-color: hsl(var(--clr-neu-300));
}

.u-text-neu-500 {
  color: hsl(var(--clr-neu-500));
}

.u-bg-neu-500 {
  background-color: hsl(var(--clr-neu-500));
}

.u-text-neu-700 {
  color: hsl(var(--clr-neu-700));
}

.u-bg-neu-700 {
  background-color: hsl(var(--clr-neu-700));
}

.u-box {
  padding: var(--spacer-300);
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
}

.u-highlight {
  color: hsl(var(--clr-acc-400));
}

.u-shadow-regular {
  box-shadow: 0 0 10px 2px var(--shadowClr);
}

.u-shadow-deviated {
  box-shadow: 2px 2px 10px 2px var(--shadowClr);
}

.u-ff-pr {
  font-family: "Cairo", sans-serif;
}

.u-fw-regular {
  font-weight: 400;
}

.u-fw-bold {
  font-weight: 700;
}

.u-fw-extra-bold {
  font-weight: 1000;
}

.u-fs-100 {
  font-size: var(--fs-100);
}

.u-fs-200 {
  font-size: var(--fs-200);
}

.u-fs-300 {
  font-size: var(--fs-300);
}

.u-fs-400 {
  font-size: var(--fs-400);
}

.u-fs-500 {
  font-size: var(--fs-500);
}

.u-fs-600 {
  font-size: var(--fs-600);
}

.u-fs-700 {
  font-size: var(--fs-700);
}

.u-fs-800 {
  font-size: var(--fs-800);
}

.u-fs-900 {
  font-size: var(--fs-900);
}

.u-fs-1000 {
  font-size: var(--fs-1000);
}

.u-fs-1100 {
  font-size: var(--fs-1100);
}

.u-fs-1200 {
  font-size: var(--fs-1200);
}

.u-fs-1300 {
  font-size: var(--fs-1300);
}

/* Accessibility */
.c-accessibility-link {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: var(--spacer-400);
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
  z-index: 2;
}
.c-accessibility-link:focus {
  top: 20px;
}

.c-stt-btn {
  position: fixed;
  padding: var(--spacer-400);
  border-radius: 50%;
  bottom: 2rem;
  inset-inline-end: 1rem;
  background-color: hsl(var(--clr-neu-300));
  color: hsl(var(--clr-pr-700));
  -webkit-text-stroke: 1px;
  -moz-text-stroke: 1px;
  -ms-text-stroke: 1px;
  -o-text-stroke: 1px;
  text-stroke: 1px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.c-stt-btn.js-show-up {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.c-srn {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  visibility: hidden;
}
.c-srn.js-show-up {
  visibility: visible;
}

/* Normalize */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Layout */
.l-container {
  width: calc(100% - var(--spacer-200) * 2);
  -webkit-margin-inline: var(--spacer-200);
  -moz-margin-inline: var(--spacer-200);
  -ms-margin-inline: var(--spacer-200);
  -o-margin-inline: var(--spacer-200);
  margin-inline: var(--spacer-200);
}
@media (min-width: 576px) {
  .l-container {
    width: min(90%, var(--bp-tablet));
    -webkit-margin-inline: auto;
    -moz-margin-inline: auto;
    -ms-margin-inline: auto;
    -o-margin-inline: auto;
    margin-inline: auto;
  }
  .l-container[data-width=narrow] {
    width: min(80%, var(--bp-tablet) - 200px);
  }
  .l-container[data-width=wide] {
    width: min(100%, var(--bp-tablet) + 200px);
  }
}

.l-center-switch {
  -webkit-margin-inline: auto;
  -moz-margin-inline: auto;
  -ms-margin-inline: auto;
  -o-margin-inline: auto;
  margin-inline: auto;
  width: 100%;
  max-width: 426px;
}
.l-center-switch[data-center-text] {
  text-align: center;
}
@media (min-width: 992px) {
  .l-center-switch[data-sm-only] {
    -webkit-margin-inline: 0;
    -moz-margin-inline: 0;
    -ms-margin-inline: 0;
    -o-margin-inline: 0;
    margin-inline: 0;
    text-align: unset;
  }
}

.l-section {
  --padding-block: clamp(var(--spacer-700), var(--spacer-600) + 2vw, var(--spacer-1200));
  padding-block: var(--padding-block);
}
.l-section:is([data-name=hero], [data-height=fill]) {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-section:is([data-name=hero], [data-height=fill])[data-name=hero] {
  padding-block-start: calc(var(--padding-block) * 1.5);
}

.l-grid-centering {
  display: grid;
  place-items: center;
}

.l-grid-switch {
  display: grid;
  align-items: center;
  row-gap: var(--rowGap);
}
@media (min-width: 992px) {
  .l-grid-switch {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: var(--columnGap);
  }
}

.l-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-margin-spacer > * {
  margin-block-start: var(--marginSpacer, var(--spacer-200));
}
.l-margin-spacer > *:first-child {
  margin-block-start: 0;
}
@media (min-width: 992px) {
  .l-margin-spacer[data-sm-only] > * {
    margin-block-start: 0;
  }
}

.l-flex-spacer {
  display: flex;
  flex-direction: column;
  gap: var(--flexSpacer, var(--spacer-200));
}
@media (min-width: 992px) {
  .l-flex-spacer[data-sm-only] {
    --flexSpacer: 0;
  }
}

.l-grid-spacer {
  display: grid;
  row-gap: var(--gridSpacer, var(--spacer-200));
}
@media (min-width: 992px) {
  .l-grid-spacer[data-sm-only] {
    --gridSpacer: 0;
  }
}

/* Components */
.c-primary-header {
  padding-top: var(--spacer-300);
  padding-bottom: var(--spacer-300);
  background-color: hsl(var(--clr-neu-100));
  box-shadow: var(--shadow-regular);
  z-index: 1;
}
@media (min-width: 992px) {
  .c-primary-header[data-page=landing] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.c-primary-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-primary-header__logo {
  width: auto;
}

.c-dropdown {
  --dropdownBg: hsl(var(--clr-neu-100));
  --arrowHeight: 15px;
  --arrowOffset: var(--spacer-100);
  position: relative;
}
.c-dropdown__list {
  position: absolute;
  top: calc(100% + var(--spacer-200));
  inset-inline-end: 0;
  padding: 0;
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 1;
}
.c-dropdown__list.js-show-up {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.c-dropdown__list[data-triangle=true] {
  top: calc(100% + var(--arrowHeight) + var(--arrowOffset));
}
.c-dropdown__list[data-triangle=true]::before {
  content: "";
  position: absolute;
  bottom: 100%;
  inset-inline-end: var(--arrowOffset);
  border: var(--arrowHeight) solid transparent;
  border-bottom-color: var(--dropdownBg);
  z-index: -1;
}
.c-dropdown__item {
  --lineClr: hsl(var(--clr-neu-300));
  --padding-block: var(--spacer-300);
  width: 100%;
  padding-inline: var(--spacer-200) var(--spacer-800);
  display: flex;
  align-items: center;
  gap: var(--spacer-200);
  color: hsl(var(--clr-neu-500));
  padding-block: var(--padding-block);
}
.c-dropdown__item:not([data-last=true]) {
  border-bottom: 1px solid var(--lineClr);
}
.c-dropdown__item:is(:hover, :focus) {
  color: hsl(var(--clr-acc-400));
}

.c-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlayBgClr);
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-overlay[data-hidden=true] {
  opacity: 0;
}
.c-overlay[data-hidden=true]:is(:hover, :focus-within) {
  opacity: 1;
}

.c-heading-1 {
  overflow-wrap: anywhere;
  font-size: var(--fs-1000);
  font-weight: var(--fw-extra-bold, var(--fw-bold), 900);
}

.c-heading-2 {
  overflow-wrap: anywhere;
  font-size: var(--fs-900);
  font-weight: var(--fw-bold, 700);
}

.c-heading-3 {
  overflow-wrap: anywhere;
  font-size: var(--fs-800);
  font-weight: var(--fw-bold, 700);
}

.c-heading-4 {
  overflow-wrap: anywhere;
  font-size: var(--fs-500);
  font-weight: var(--fw-semi-bold, 600);
}

.c-signing-form__content {
  padding: var(--spacer-300);
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
  margin-block: var(--spacer-300);
}
.c-signing-form__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacer-100) var(--spacer-200);
  margin-bottom: var(--spacer-400);
}
.c-signing-form__field[data-column=fluid] {
  grid-column: span 2;
}
@media (max-width: 576px) {
  .c-signing-form__field {
    grid-column: span 2;
  }
}
.c-signing-form__submit-btn {
  margin-inline: auto;
}
.c-signing-form__heading, .c-signing-form__cta {
  text-align: center;
}
@media (min-width: 992px) {
  .c-signing-form__heading, .c-signing-form__cta {
    text-align: unset;
  }
}
@media (min-width: 992px) {
  .c-signing-form__heading[data-sm-only], .c-signing-form__cta[data-sm-only] {
    text-align: unset;
  }
}
.c-signing-form__heading {
  color: hsl(var(--clr-pr-700));
}

.c-input {
  width: 100%;
  margin-block-start: var(--spacer-100);
  padding: var(--spacer-200) var(--spacer-200);
  background-color: hsl(var(--clr-neu-300)/0.75);
  color: hsl(var(--clr-neu-500)/0.9);
  border: 1px solid hsl(var(--clr-neu-500)/0.375);
  caret-color: hsl(var(--clr-neu-500)/0.9);
}
.c-input::placeholder {
  color: currentColor;
}

.c-img-input label {
  padding: var(--spacer-200);
  border-radius: var(--radius-regular);
  display: inline-block;
  background-color: hsl(var(--clr-neu-300));
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: -2px;
}
.c-img-input:has(input:focus) label {
  outline-color: currentColor;
}
.c-img-input input {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.c-input-group {
  --arrowHeight: 7px;
  --msgHolderBgClr: hsl(var(--clr-neu-300));
  --msgHolderClr: hsl(var(--clr-neu-500));
  --arrowYOffset: 100%;
  --msgHolderYOffset: calc(var(--arrowYOffset) + 2 * var(--arrowHeight) - 2px);
  --errorMessage: "";
  position: relative;
}
.c-input-group:has(label) {
  --arrowYOffset: calc(100% - 3 * var(--arrowHeight));
}
.c-input-group::before, .c-input-group::after {
  content: "";
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-duration: 250ms;
}
.c-input-group.js-not-valid::before, .c-input-group.js-not-valid::after {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.c-input-group::before {
  inset-inline-end: var(--spacer-100);
  bottom: var(--arrowYOffset);
  border: var(--arrowHeight) solid transparent;
  border-top-color: var(--msgHolderBgClr);
}
.c-input-group::after {
  content: var(--errorMessage);
  inset-inline-end: 0;
  bottom: var(--msgHolderYOffset);
  padding: var(--spacer-300);
  border-radius: var(--radius-regular);
  background-color: var(--msgHolderBgClr);
  color: var(--msgHolderClr);
  z-index: 1;
}
.c-input-group label {
  color: hsl(var(--clr-pr-700));
}

.c-expandable-input {
  display: grid;
}
.c-expandable-input :is(textarea, input, span) {
  --paddingBlock: var(--spacer-300);
  --paddingInline: var(--spacer-200);
  outline: none;
  overflow: hidden;
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  padding: var(--paddingBlock) var(--paddingInline);
}
.c-expandable-input :is(textarea, input, span):focus {
  box-shadow: 0 0 5px inset var(--shadowClr);
}
.c-expandable-input :is(textarea, input) {
  font-family: sans-serif;
  border-radius: var(--radius-regular);
}
.c-expandable-input span {
  white-space: break-spaces;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

input[type=range] {
  --trackHeight: 0.25rem;
  --thumbDimention: 1rem;
  --bgClr: hsl(var(--clr-neu-500));
  /*********** Baseline, reset styles ***********/
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 5rem;
  /* Removes default focus */
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  /* slider thumb */
  /*********** Firefox styles ***********/
  /* slider track */
  /* slider thumb */
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--bgClr);
  border-radius: 0;
  height: var(--trackHeight);
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: calc(var(--thumbDimention) / -2 + var(--trackHeight) / 2); /* Centers thumb on the track */
  background-color: var(--bgClr);
  border-radius: 50%;
  height: var(--thumbDimention);
  width: var(--thumbDimention);
}
input[type=range]::-moz-range-track {
  background-color: var(--bgClr);
  border-radius: 0;
  height: var(--trackHeight);
}
input[type=range]::-moz-range-thumb {
  background-color: var(--bgClr);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%;
  height: var(--thumbDimention);
  width: var(--thumbDimention);
}

.c-checkbox {
  --trackPadding: 2px;
  --trackHeight: 20px;
  --thumbDimention: calc(var(--trackHeight) - 2 * var(--trackPadding));
}
.c-checkbox input {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.c-checkbox label {
  position: relative;
  display: block;
  width: 50px;
  height: var(--trackHeight);
  border-radius: 100vh;
  background-color: hsl(var(--clr-neu-100));
  cursor: pointer;
}
.c-checkbox label::before {
  content: "";
  position: absolute;
  top: var(--trackPadding);
  inset-inline-start: var(--trackPadding);
  height: var(--thumbDimention);
  -webkit-aspect-ratio: 1;
  -moz-aspect-ratio: 1;
  -ms-aspect-ratio: 1;
  -o-aspect-ratio: 1;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--clr-acc-400));
}
.c-checkbox label[data-toggle=true]::before {
  inset-inline-start: calc(100% - var(--thumbDimention) - var(--trackPadding));
  background-color: hsl(var(--clr-pr-700));
}
.c-checkbox:has(input:focus) label {
  outline: 1px solid;
}

.c-page-link {
  color: hsl(var(--clr-acc-400));
  font-weight: var(--fw-bold);
  text-decoration: underline;
}

.c-post {
  --gridSpacer: var(--spacer-300);
  padding: var(--spacer-300);
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
  display: grid;
  row-gap: var(--gridSpacer, var(--spacer-200));
}
@media (min-width: 992px) {
  .c-post[data-sm-only] {
    --gridSpacer: 0;
  }
}
.c-post__header {
  display: flex;
  align-items: start;
  gap: var(--spacer-300);
}
.c-post__details {
  align-self: flex-end;
}
.c-post__author-name {
  color: hsl(var(--clr-pr-700));
  text-transform: capitalize;
}
.c-post__menu {
  margin-inline-start: auto;
}
.c-post__body {
  line-height: 1.25;
  white-space: pre-line;
}
@media (min-width: 576px) {
  .c-post__body {
    line-height: 1.5;
  }
}
.c-post__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-post__comments-btn {
  color: hsl(var(--clr-pr-700));
  text-decoration: underline;
}
.c-post__tag {
  padding: var(--spacer-100) var(--spacer-200);
  border-radius: 100vh;
  background-color: hsl(var(--clr-neu-300));
  color: hsl(var(--clr-pr-700));
}

.c-popup-frame {
  position: fixed;
  inset: 0;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: var(--spacer-300);
  overflow: hidden;
  opacity: 0;
  z-index: 3;
  background-color: var(--overlayBgClr);
  backdrop-filter: blur(2px);
  transition-duration: 375ms;
}
@media (max-width: 576px) {
  .c-popup-frame:has(.c-dialog) {
    align-items: flex-end;
  }
}
.c-popup-frame.js-show-up {
  top: 0;
  opacity: 1;
}
.c-popup-frame:focus {
  outline: none;
}
.c-popup-frame .c-popup-close-btn {
  position: absolute;
  top: var(--top);
  inset-inline-end: 0;
  color: var(--color);
  font-size: var(--fs);
}

.c-lightbox {
  height: 70vh;
}
.c-lightbox > img {
  object-fit: contain;
  filter: drop-shadow(0px 0px 5px hsl(var(--clr-neu-500)));
}
.c-lightbox .c-popup-close-btn {
  --top: 0;
  --color: hsl(var(--clr-acc-400));
  --fs: var(--fs-800);
}

.c-dialog {
  --dialogInlinePadding: var(--spacer-300);
  --dialogBlockPadding: var(--spacer-400);
  --scrollbarPaddingPercent: 50%;
  --scrollbarBgClr: hsl(var(--clr-pr-700));
  position: relative;
  padding: 0 0 var(--dialogBlockPadding) var(--dialogInlinePadding);
  background-color: hsl(var(--clr-neu-100));
  border-radius: var(--radius-regular);
  box-shadow: var(--shadow-regular);
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.c-dialog::-webkit-scrollbar {
  width: var(--dialogInlinePadding);
}
.c-dialog::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0;
}
.c-dialog:hover::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, transparent var(--scrollbarPaddingPercent), var(--scrollbarBgClr) var(--scrollbarPaddingPercent));
}
.c-dialog .c-popup-close-btn {
  --top: var(--dialogInlinePadding);
  --color: hsl(var(--clr-neu-500));
  --fs: var(--fs-700);
}
.c-dialog__header {
  position: sticky;
  top: 0;
  padding-inline: var(--spacer-600);
  padding-block: var(--dialogBlockPadding);
  border-bottom: 2px solid hsl(var(--clr-neu-500)/0.25);
  background-color: hsl(var(--clr-neu-100));
  text-align: center;
  z-index: 1;
}
.c-dialog__header h3 {
  overflow-wrap: anywhere;
  font-size: var(--fs-800);
  font-weight: var(--fw-bold, 700);
}
@media (max-width: 576px) {
  .c-dialog__header h3 {
    font-size: var(--fs-600);
  }
}
.c-dialog__content {
  padding-block-start: var(--dialogBlockPadding);
}
.c-dialog__action-area {
  --clusterSpacer: var(--spacer-200);
  margin-block: var(--dialogBlockPadding);
  display: flex;
  flex-wrap: wrap;
  gap: var(--clusterSpacer);
  justify-content: center;
}
.c-dialog__content .confirm-msg {
  width: 25ch;
  margin-inline: auto;
  line-height: 1.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  text-align: center;
}
.c-dialog__content .post-comments {
  min-height: 30px;
  animation: placeholderLoading 2s linear 0s infinite forwards;
}
@keyframes placeholderLoading {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.125);
  }
  100% {
    background-color: white;
  }
}
.c-dialog__content .post-comments.js-content-loaded {
  min-height: unset;
  animation: none;
}
.c-dialog__content .post-comments .comment {
  padding: var(--spacer-300);
  border: 1px solid hsl(var(--clr-neu-500)/0.25);
}
.c-dialog__content .post-comments .comment:not(:last-child) {
  margin-block-end: var(--spacer-300);
}
.c-dialog__content .post-comments .comment__header {
  margin-block-end: var(--spacer-300);
  display: flex;
  align-items: flex-end;
  gap: var(--spacer-300);
}
.c-dialog__content .post-comments .comment__author-name {
  color: hsl(var(--clr-pr-700));
}
.c-dialog__content .post-comments .comment__body {
  white-space: pre-line;
}

.c-button {
  padding: var(--padding);
  border-radius: var(--borderRad);
  width: var(--width);
  background-color: var(--bgClr);
  color: var(--color);
  font-weight: var(--fw);
}
.c-button[data-btn-type=input-like] {
  --padding: var(--spacer-200);
  --width: 100%;
  --borderRad: var(--radius-regular);
  --bgClr: hsl(var(--clr-neu-300));
  --color: hsl(var(--clr-neu-500));
  --fw: var(--fw-regular);
}
.c-button:not([data-btn-type=input-like]) {
  --padding: var(--spacer-300) var(--spacer-500);
  --width: max-content;
  --borderRad: var(--radius-regular);
  --bgClr: hsl(var(--clr-neu-100));
  --fw: var(--fw-bold);
  --boxShadow: var(--shadow-regular);
  box-shadow: var(--boxShadow);
}
.c-button:not([data-btn-type=input-like]):hover {
  background-color: var(--color);
  color: hsl(var(--clr-neu-100));
}
.c-button:not([data-btn-type=input-like]).js-checking {
  pointer-events: none;
  animation: btnCheckingAnimation 1000ms linear 0ms infinite forwards;
}
@keyframes btnCheckingAnimation {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.125;
  }
  100% {
    opacity: 0.85;
  }
}
.c-button[data-btn-type=primary] {
  --color: hsl(var(--clr-pr-700));
}
.c-button[data-btn-type=secondary] {
  --color: hsl(var(--clr-neu-500));
}
.c-button[data-btn-type=accent] {
  --color: hsl(var(--clr-acc-400));
}

.c-user-img {
  aspect-ratio: 1;
  width: clamp(35px, 30px + 0.75vw, 45px);
  border-radius: 50%;
  box-shadow: var(--shadow-deviated);
  overflow: hidden;
}

.c-post-img {
  position: relative;
  display: none;
}
.c-post-img.js-has-img {
  display: block;
}
.c-post-img img {
  border: 2px solid hsl(var(--clr-neu-300));
  -webkit-aspect-ratio: 2;
  -moz-aspect-ratio: 2;
  -ms-aspect-ratio: 2;
  -o-aspect-ratio: 2;
  aspect-ratio: 2;
  -webkit-object-fit: contain;
  -moz-object-fit: contain;
  -ms-object-fit: contain;
  -o-object-fit: contain;
  object-fit: contain;
}
.c-post-img[data-preview=true] {
  margin-block-start: var(--spacer-400);
}
.c-post-img .c-img-remover {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  -webkit-text-stroke: 1px;
  -moz-text-stroke: 1px;
  -ms-text-stroke: 1px;
  -o-text-stroke: 1px;
  text-stroke: 1px;
}
.c-post-img[data-preview=true]:hover .c-img-remover, .c-post-img[data-preview=true] .c-img-remover:focus {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.c-footer {
  --columnGap: var(--spacer-400);
  --marginSpacer: var(--spacer-400);
  padding-block: var(--spacer-500);
  background-color: hsl(var(--clr-neu-100));
  box-shadow: var(--shadow-regular);
  text-align: center;
}
.c-footer__inner > * {
  margin-block-start: var(--marginSpacer, var(--spacer-200));
}
.c-footer__inner > *:first-child {
  margin-block-start: 0;
}
@media (min-width: 992px) {
  .c-footer__inner[data-sm-only] > * {
    margin-block-start: 0;
  }
}
@media (min-width: 992px) {
  .c-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .c-footer__inner > * {
    margin-block-start: 0;
  }
}
.c-footer__social-links {
  --clusterSpacer: var(--spacer-300);
  display: flex;
  flex-wrap: wrap;
  gap: var(--clusterSpacer);
  justify-content: center;
  font-size: var(--fs-700);
}
.c-footer__social-links a:hover {
  color: hsl(var(--clr-acc-400));
}

.c-error-message {
  position: fixed;
  top: var(--spacer-1200);
  inset-inline-start: 0;
  transform: translateX(-120%);
  padding: var(--spacer-300);
  padding-inline-end: var(--spacer-700);
  border-radius: 0 var(--radius-regular) var(--radius-regular) 0;
  box-shadow: var(--shadow-deviatedsomeuser2323);
  background-color: hsl(var(--clr-neu-100));
  color: hsl(var(--clr-acc-400));
  transition-duration: 500ms;
  z-index: 10000;
}
.c-error-message.js-show-up {
  transform: translateX(0);
}
.c-error-message button {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  background-color: hsl(var(--clr-acc-400));
  color: hsl(var(--clr-neu-100));
  -webkit-text-stroke: 1px;
}

.c-img-remover {
  padding: var(--spacer-100);
  background-color: hsl(var(--clr-neu-300));
  color: hsl(var(--clr-acc-400));
  font-size: var(--fs-400);
  aspect-ratio: 1;
}

/*# sourceMappingURL=main.css.map */
